[Desktop Entry]
Name=rss-feed
Comment=RSS Feed Notifications 
Icon=quiterss
Exec=rss-feed-notifications
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
X-GNOME-UsesNotifications=true
